layout_wet() {
	local git_root=$(git rev-parse --show-toplevel)
	dotenv "${git_root}/dry/envs/${ENV}/.env" # load env-global vars
	PATH_add "${git_root}/bin"
	namespace=$(gojq --yaml-input -s -r 'map(.metadata.namespace|select(.))|unique[]' *.k8s.yaml)
	mkdir -p "$(direnv_layout_dir)"
	local_kubeconfig="$(direnv_layout_dir)/kubeconfig.yaml"
	KUBECONFIG="${git_root}/dry/envs/${ENV}/kubeconfig.yaml"
	export KUBECONFIG
	kubectl config view --minify -o json |
		gojq --yaml-output --arg ns "${namespace}" '. as $orig | {
			apiVersion,
			kind,
			"current-context",
			contexts
		} | .contexts |= map(select(.name == $orig["current-context"]) | .context.namespace |= $ns)' > "${local_kubeconfig}"
	KUBECONFIG="${local_kubeconfig}:${KUBECONFIG}"
	export KUBECONFIG
}
dotenv
layout_wet
